# Ignore Python Cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore Environment
.env
venv/

# Ignore IDE configuration files
.idea/
*.iml
.vscode

# Ignore raw and processed data
data/

# Ignore logs
logs/